if SHIELD_DONGLE

rsource "dongle_screen/Kconfig.defconfig"

# Max 16 characters in keyboard name
config ZMK_KEYBOARD_NAME
    default "My zmk dongle"
config BT_DEVICE_NAME
    default "My ZMK dongle"

config ZMK_SPLIT_ROLE_CENTRAL
    default y
config ZMK_SPLIT
    default y
# ドングルが管理するペリフェラル数（例：左右分割なら2）
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2
# BTプロファイル数（デフォルト5）＋ペリフェラル数
config BT_MAX_CONN
    default 7
config BT_MAX_PAIRED
    default 9
endif

if SHIELD_SPLIT_ERGO60PCT_LEFT

config ZMK_KEYBOARD_NAME
    default "split_ergo60pct"

endif

if SHIELD_SPLIT_ERGO60PCT_LEFT || SHIELD_SPLIT_ERGO60PCT_RIGHT

config ZMK_SPLIT
    default y

endif
